[user]
	name = Hannes Schippmann
	email = hannes@schippmann.tv
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
